In [1]:
df=pd.read_csv("mercedesbenz.csv",usecols=['X1','X2'])

In [2]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [3]:
for i in df.columns:
    print(i,'=',len(df[i].unique()))

X1 = 27
X2 = 44

Convertig df to dictionary

In [4]:
map1=df.X1.value_counts().to_dict()

In [5]:
map1

{'aa': 833,
 's': 598,
 'b': 592,
 'l': 590,
 'v': 408,
 'r': 251,
 'i': 203,
 'a': 143,
 'c': 121,
 'o': 82,
 'w': 52,
 'z': 46,
 'u': 37,
 'e': 33,
 'm': 32,
 't': 31,
 'h': 29,
 'y': 23,
 'f': 23,
 'j': 22,
 'n': 19,
 'k': 17,
 'p': 9,
 'g': 6,
 'd': 3,
 'ab': 3,
 'q': 3}

In [6]:
df.X1=df.X1.map(map1)

In [7]:
df['X1']

0       408
1        31
2        52
3        31
4       408
       ...
4204    598
4205     82
4206    408
4207    251
4208    251
Name: X1, Length: 4209, dtype: int64

In [8]:
df

       X1  X2
0     408  at
1      31  av
2      52   n
3      31   n
4     408   n
...   ...  ..
4204  598  as
4205   82   t
4206  408   r
4207  251   e
4208  251  ae

[4209 rows x 2 columns]