In [8]:
df=sns.load_dataset('iris')

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [14]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
df['species']=label_encoder.fit_transform(df['species'])
df['species'].unique()

array([0, 1, 2])

In [18]:
df['species'].unique

<bound method Series.unique of 0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int32>