In [1]:
df=pd.read_csv("mercedesbenz.csv", usecols=['X1','X2','X3','X4','X5','X5','X6'])

In [2]:
df.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

Finding total number of unique values

In [23]:
for i in df.columns:
    print(i," ",len(df[i].unique()))

X1   27
X2   44
X3   7
X4   4
X5   29
X6   12

Check how many columns are being generated using ONE HOT ENCODING

In [28]:
pd.get_dummies(df)

,X1_a,X1_aa,X1_ab,X1_b,X1_c,X1_d,X1_e,X1_f,X1_g,X1_h,...,X6_c,X6_d,X6_e,X6_f,X6_g,X6_h,X6_i,X6_j,X6_k,X6_l
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4206,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4207,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4208,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [36]:
df.X1.value_counts().sort_values(ascending=False).head(20)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
w      52
z      46
u      37
e      33
m      32
t      31
h      29
y      23
f      23
j      22
Name: X1, dtype: int64

In [59]:
df.X2.value_counts().sort_values(ascending=False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
z       19
ag      19
Name: X2, dtype: int64

Storing top 10 values in top variable

In [78]:
top=[x for x in df.X1.value_counts().sort_values(ascending=False).head(10).index]

In [79]:
top

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

Convert values in top into columns

In [80]:
for i in top:
    df[i]=np.where(df['X2']==i,1,0)

Printing df only with X2 and top

In [81]:
df[['X2']+top].head()

   X2  aa  s  b  l  v  r  i  a  c  o
0  at   0  0  0  0  0  0  0  0  0  0
1  av   0  0  0  0  0  0  0  0  0  0
2   n   0  0  0  0  0  0  0  0  0  0
3   n   0  0  0  0  0  0  0  0  0  0
4   n   0  0  0  0  0  0  0  0  0  0

Function to convert labels to columns

In [89]:
def top_ele(df,variable,top):
    
    for i in top:
        df[variable+'-'+i]=np.where(df[variable]==i,1,0)

In [90]:
top=[x for x in df.X2.value_counts().sort_values(ascending=False).head(10).index]

In [91]:
top_ele(df,'X2',top)

In [92]:
df.head()

,X1,X2,X3,X4,X5,X6,aa,s,b,l,...,X2-as,X2-ae,X2-ai,X2-m,X2-ak,X2-r,X2-n,X2-s,X2-f,X2-e
0,v,at,a,d,u,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0