In [5]:
df=pd.read_csv("titanic_train.csv", usecols=['Sex','Survived'])

In [7]:
df

     Survived     Sex
0           0    male
1           1  female
2           1  female
3           1  female
4           0    male
..        ...     ...
886         0    male
887         1  female
888         0  female
889         1    male
890         0    male

[891 rows x 2 columns]

In [14]:
pd.get_dummies(data=df,prefix='Sex')

     Survived  Sex_female  Sex_male
0           0           0         1
1           1           1         0
2           1           1         0
3           1           1         0
4           0           0         1
..        ...         ...       ...
886         0           0         1
887         1           1         0
888         0           1         0
889         1           0         1
890         0           0         1

[891 rows x 3 columns]