In [2]:
df=pd.read_csv('titanic_train.csv',usecols=['Survived','Embarked'])

In [3]:
df.head()

   Survived Embarked
0         0        S
1         1        C
2         1        S
3         1        S
4         0        S

In [4]:
df.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [5]:
df.Embarked.fillna('Missing',inplace=True)

In [7]:
df.Embarked.unique()

array(['S', 'C', 'Q', 'Missing'], dtype=object)

In [17]:
ordinal_labels=df.groupby(['Embarked'])['Survived'].mean().sort_values().index
ordinal_labels

Index(['S', 'Q', 'C', 'Missing'], dtype='object', name='Embarked')

In [18]:
ord_lab2={k:i for i,k in enumerate(ordinal_labels,0)}

In [19]:
ord_lab2

{'S': 0, 'Q': 1, 'C': 2, 'Missing': 3}

In [20]:
df['Embarked_Labels']=df['Embarked'].map(ord_lab2)

In [21]:
df.head()

   Survived Embarked  Embarked_Labels
0         0        S                0
1         1        C                2
2         1        S                0
3         1        S                0
4         0        S                0